<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('admin_home') }}">Admin Home</a></li>
            <li><a href="{{ url_for('student_home') }}">Student Home</a></li>

        </ul>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Flask App</p>
    </footer>
</body>
</html>
